In [1]:
numbers={1:'one', 2:'two', 3:'three', 4:'four', 10:'ten'}
numbers[2]

'two'

In [2]:
numbers[1]='ONE'

In [5]:
numbers

{1: 'ONE', 2: 'two', 3: 'three', 4: 'four', 10: 'ten'}

In [7]:
Num=['One','Two','Three','Four']
ini={num:num[0] for num in Num}
ini

{'One': 'O', 'Two': 'T', 'Three': 'T', 'Four': 'F'}

In [9]:
'Two' in ini

True

In [13]:
for i in numbers:
    print("{}={}".format(i,numbers[i]))

1=ONE
2=two
3=three
4=four
10=ten

In [45]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car, and a horse", "Casinoville"]
keyword='car'
clean_dl=[x.rstrip('.,').lower() for x in doc_list]
clean_dl
#count = [clean_dl.index(x) for x in clean_dl if keyword.lower() in x.split()]
#count

['the learn python challenge casino',
 'they bought a car, and a horse',
 'casinoville']