#  Variables

In [3]:
break=5
# Reason: Since break is a keyword

SyntaxError: invalid syntax (800182598.py, line 1)

In [5]:
b_year=2001
c_year=2021
age=c_year-b_year
age

20

In [9]:
frst="Anik"
mid=""
last="Tanzim"
frst+mid+last

'AnikTanzim'

## Numbers

In [11]:
length=92
width=48.8
print('Area=',length*width)

Area= 4489.599999999999

In [15]:
n_pc=9
c_pc=1.49
tot_cost=n_pc*c_pc
paid=20
retn=paid-tot_cost
retn

6.59

In [19]:
len=5.5
area= len * len
tot_cost=area*500
tot_cost

15125.0

In [20]:
num=17
print(format(num,'b')) #Binary Representation

10001

## Strings

In [31]:
string="Earth revolves around the sun"
string[6:14]

'revolves'

In [30]:
string[-3:]

'sun'

In [32]:
s='maine 200 banana khaye'
s=s.replace('200','10').replace('banana','samosa')
s

'maine 10 samosa khaye'

## Lists

In [33]:
month=[2200,2350,2600,2130,2190]
ext_feb=month[1]-month[0]
ext_feb

150

In [35]:
quarter_expense=month[0]+month[1]+month[2]
quarter_expense

7150

In [38]:
2000 in month

False

In [40]:
month.append(1980)
month

[2200, 2350, 2600, 2130, 2190, 1980, 1980]

In [42]:
month.pop()
month

[2200, 2350, 2600, 2130, 2190, 1980]

In [43]:
month[3]-=200
month

[2200, 2350, 2600, 1930, 2190, 1980]

In [60]:
heros=['spider man','thor','hulk','iron man','captain america']
heros2=heros.copy()
length=0
while heros2 != [ ]:
    heros2.pop()
    length+=1
length

5

In [61]:
print(len(heros))

TypeError: 'float' object is not callable

In [47]:
heros.append('black panther')

In [52]:
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'hulk', 'hulk', 'black panther']

In [53]:
heros.pop()
heros.pop()
heros.pop()
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [54]:
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [55]:
heros[1:3]=['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [56]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']